<!--**********************************
            Content body start
        ***********************************-->

<div class="content-body">
  <div class="container-fluid">
    <button
      type="button"
      class="btn btn-rounded btn-info"
      onclick="location.href='/product/add'"
    >
      <span class="btn-icon-left text-info"><i
          class="fa fa-plus color-info"
        ></i>
      </span>Add
    </button>

    <div class="row">
      <!-- item here-->
      {{#each products}}
        <div class="col-lg-12 col-xl-6">
          <div class="card">
            <div class="card-body">
              <div class="row m-b-30">
                <div class="col-md-5 col-xxl-12">
                  <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                    <div class="new-arrivals-img-contnent">
                      {{#with image}}
                        <img class="img-fluid" src={{0}} alt="" />
                      {{/with}}
                    </div>
                  </div>
                </div>
                <div class="col-md-7 col-xxl-12">
                  <div class="new-arrival-content position-relative">
                    <h4
                      onclick="location.href='/product/{{this.id}}'"
                      class="linkProduct"
                    >{{this.name}}</h4>
                    <p class="price">${{this.price}}</p>
                    <p>
                      Availability:
                      <span class="item">
                        {{this.availability}}
                        <i class="fa fa-check-circle text-success"></i></span>
                    </p>
                    <p>Category <span class="item">{{this.category}}</span></p>
                    <p>Brand: <span class="item">{{this.brand}}</span></p>
                    <p>Gender: <span class="item">{{this.gender}}</span></p>
                    <p>Sale: <span class="item">{{this.sale}}%</span></p>
                    <p class="text-content">
                      {{this.description}}
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end item-->
      {{/each}}
    </div>
    <!-- Row-->
  </div>
  <div class="pagination">
    <ul>
      <!--pages or li are comes from javascript -->
    </ul>
  </div>
</div>
<!--**********************************
            Content body end
        ***********************************-->
<script type="text/javascript">
  const element = document.querySelector(".pagination ul"); 
  let totalPages = {{totalPage}}; 
  let page = {{page}}; 
  element.innerHTML = createPagination(totalPages, page); 
  function createPagination(totalPages, page){ 
    let liTag = ''; 
    let active; 
    let beforePage = page - 1; 
    let afterPage = page + 1; 
    if(page > 1){ liTag += `<li class="btn prev" onclick="location.href='/product?page=${page - 1}'"><span>Prev</span></li>`; } 
    if(page > 2){ liTag += `<li class="first numb" onclick="location.href='/product?page=1'"><span>1</span></li>`; 
      if(page > 3){
        liTag += `<li class="dots"><span>...</span></li>`; 
      } 
    } 
    if (page == totalPages){ 
      beforePage = beforePage - 2; 
    } else if (page == totalPages - 1) { 
      beforePage = beforePage - 1; 
    } 
    if (page == 1) { 
      afterPage = afterPage + 2; 
    } else if (page == 2) { 
      afterPage = afterPage + 1; 
    } 
    for (var plength = beforePage; plength <= afterPage; plength++) { 
      if (plength > totalPages) { 
        continue; 
      } 
      if (plength == 0) { 
        plength = plength + 1; 
      } 
      if(page == plength){ 
        active = "active"; 
      }else{ 
        active = ""; 
      } 
      liTag += `<li class="numb ${active}" onclick="location.href='/product?page=${plength}'"><span>${plength}</span></li>`;
    } 
   if(page < totalPages - 1){ 
    if(page < totalPages - 2){ 
      liTag += `<li class="dots"><span>...</span></li>`; 
    } 
    liTag += `<li class="last numb" onclick="location.href='/product?page=${totalPages}'"><span>${totalPages}</span></li>`;
  } 
  if (page < totalPages) { 
    liTag += `<li class="btn next" onclick="location.href='/product?page=${page + 1}'"><span>Next</span></li>`; 
  }
  element.innerHTML = liTag; return liTag; }
</script>