<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div id="chartContent">
    <canvas id="myChart"></canvas>
</div>
<script>
var xValues = [];
let year = {{year}} - 3 - 100 + 2000;
xValues.push(year.toString());

year = {{year}} - 2 - 100 + 2000;
xValues.push(year.toString());

year = {{year}} - 1 - 100 + 2000;
xValues.push(year.toString());

year = {{year}} - 100 + 2000;
xValues.push(year.toString());

var yValues =[{{statisticByYear}}];
var barColors = ["red", "green","blue","orange"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {
        display: false,
    },
    title: {
      display: true,
      text: "The Last 4 Years Orders",
      fontSize: 30,
      fontColor: "red"
    },
    scales: {
        yAxes: [{
            ticks: {
                fontSize: 15,
                suggestedMin: 0
            }
        }],
        xAxes: [{
            ticks: {
                fontSize: 15
            }
        }]
    }
  }
});
</script>
